:root {
  --riflegreen: #414833;
  --bone: #cbcdb6;
  --lavender: #e2dae7;
  --jet: #333533;
}

.card-container {
  justify-content: center;
  text-align: center;
  margin: 2rem;
  height: 30rem;
  width: 22rem;
  border: 5px solid var(--lavender);
  background-color: var(--lavender);
  color: var(--riflegreen);
}
.title {
  font-size: 2rem;
  height: 3rem;
}
.image {
  object-fit: cover;
}
.description {
  height: 6rem;
}
.button-container {
  display: flex;
  margin-bottom: 1rem;
}
.links {
  text-decoration: none;
  color: var(--riflegreen);
  font-weight: bold;
  background-color: var(--bone);
  margin: 0.3rem;
  border: #414833;
}
