:root {
  --riflegreen: #414833;
  --bone: #cbcdb6;
  --lavender: #e2dae7;
  --jet: #333533;
}

.contact-form-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  color: var(--bone);
  padding: 5rem;
}
.phoneimg {
  height: 20vw;
  margin: 1rem;
}
.contact-form {
  color: var(--bone);
  width: 40vw;
}
