:root {
  --riflegreen: #414833;
  --bone: #cbcdb6;
  --lavender: #e2dae7;
  --jet: #333533;
}

.contact-form-container {
  margin: auto;
  display: flex;
  color: var(--bone);
  padding: 5rem;
}
.phoneimg {
  width: 35vw;
}
.contact-form {
  width: 55vw;
}
