:root {
  --riflegreen: #414833;
  --bone: #cbcdb6;
  --lavender: #e2dae7;
  --jet: #333533;
}

.footer {
  background-color: var(--jet);
  color: var(--bone);
  justify-content: center;
  position: absolute;
}
