:root {
  --riflegreen: #414833;
  --bone: #cbcdb6;
  --lavender: #e2dae7;
  --jet: #333533;
}

.footer {
  justify-content: center;
  color: var(--lavender);
  background-color: var(--jet);
  padding-top: 5rem;
  margin-top: 8rem;
}
.text {
  text-decoration: line-through;
}
