:root {
  --riflegreen: #414833;
  --bone: #cbcdb6;
  --lavender: #e2dae7;
  --jet: #333533;
}

.title-container {
  background-color: var(--riflegreen);
  color: var(--lavender);
  text-align: center;
  padding: 2rem;
}
